{% extends 'base.html' %}
{% load static %}

{% block title %}
FAQ
{% endblock %}

{% block content %}

<div class="main-header">
    <h1>Frequently Asked Questions</h1>
</div>

<div class="faq">
    <div class="q-n-a">
        <h1>Is This a Legitimate Opportunity?</h1>
        <p>Absolutely! We are partnered with a platform that contracts with Fortune 500 companies. These are work from home opportunities. </p>
    </div>
    <div class="q-n-a">
        <h1>Can I Work From Anywhere in the World?</h1>
        <p>All agents must reside in the United States and be 18 years or older. </p>
        <p>Once hired, you can wok from anywhere with internet access, however, there are some states excluded. These states include California, Connecticut, Maryland, Massachusetts, New York, Oregon, and Wisconsin. If you are based in any of these states please use a family/ friend's address or a virtual address.</p>
    </div>
    <div class="q-n-a">
        <h1>Are There Any Fees to Get Started?</h1>
        <p>All training is paid for by Virtual Line! Although, some of our partners may require a $30 background check which is valid for 36 months. This is only a requirement for select companies. Please email us at <span><a style="text-decoration: none;color:goldenrod;" href="mailto:support@virtualline.co">support@virtualline.co</a></span> for any additional questions. </p>
    </div>
    <div class="q-n-a">
        <h1>Why is Virtual Line a Company I Would Want to Work For? </h1>
        <p>We are here to help our agents succeed. We are always available to you, and we are honest, reliable, and encouraging. </p>
    </div>
    <div class="q-n-a">
        <h1>How Much Money Can I Make?</h1>
        <p>Your compensation is based on how frequently you choose to work. You make your own schedule and set your own hours!</p>
    </div>
    <div class="q-n-a">
        <h1>What About Taxes?</h1>
        <p>You are a self employed independent contractor and authorized user. You are responsible for your own taxes. You will receive a Form 1099-MISC at the end of the year if you made $600 or more.</p>
        <p>As an independent contractor you are not employed by Virtual Line. You are responsible for paying applicable Federal, State, or local taxes. You are not eligible for unemployment, overtime, or benefits. </p>
        <p>A tax specialist can assist you with determining what you can write off and deduct as an Independent Contractor.</p>
    </div>
    <div class="q-n-a">
        <h1>Do You Provide Equipment?</h1>
        <p>All independent contractors are required to provide their own equipment. If you are unable to provide your own equipment, we have partnered with a company and now offer financing. Click the link below to be redirected.</p>
        <ul class="list"><li id="become-button"><a target="_blank" href="https://wahequipmentsolutions.com/Virtual%20Line">Financing</a></li></ul>
    </div>
    <div class="q-n-a">
        <h1>Am I Compensated During Client Certification Courses (Training)?</h1>
        <p>Compensation during client certificate courses depends on the client you are working for and the length of it as it is knowledge that is needed to be successful in the job position. As an independent self employed contractor, it is the responsibility of the agent to obtain the necessary skills that are needed in order to provide the appropriate services to the client of your choosing.</p>
    </div>
    <div class="q-n-a">
        <h1>How Many Hours Am I Required to Work?</h1>
        <p>All of our agents are required to work a minimum of 15 hours per week. There is no cap on the amount of hours an agent wants to work. You can always work for more than one company at a time.</p>
    </div>
    <div class="q-n-a">
        <h1>After Training, How Soon Will I Get Paid?</h1>
        <p>Virtual Line pays twice a month.</p>
        <p>Virtual Line's invoice periods are the 1st to the 15th and the 16th through the end of the month.</p>
    </div>
    <div class="q-n-a">
        <h1>How Do I Get Started?</h1>
        <ul class="list"><li id="become-button"><a href="/become-an-agent/">Become an Agent</a></li></ul>
    </div>
</div>

{% endblock %}